{% extends "_/layouts/base" %}

{% block content %}
	<h1>Korterdam Film Festival</h1>
	<p>
		{{ entry.paragraph}}
	</p>
	<section class="container__countdown">
			{# Set the final date and time of the event #}
		{% set finalDate = '2023-06-23 18:00:00' %}

			{# Calculate the remaining time #}
		{% set currentTime = now|date('Y-m-d H:i:s') %}
		{% set remainingSeconds = date(finalDate).timestamp - date(currentTime).timestamp %}
		{% set remainingDays = remainingSeconds // 86400 %}
		{% set remainingHours = (remainingSeconds % 86400) // 3600 %}
		{% set remainingMinutes = ((remainingSeconds % 86400) % 3600) // 60 %}

		{# Display the countdown #}
		<p>Countdown: {{ remainingDays }} days, {{ remainingHours }} hours, {{ remainingMinutes }} minutes</p>
	</section>
	<section class="container__archive">
		<h2>Kortkijk Archive</h2>
		<a href="{{url('films') }}" class="btn__archive">Show all films</a>
		 {% for film in craft.entries.section('films').limit(3).all()%}
		<article class="archive__card">
			<img class="card__img">
			<div>
				<h3 class="card__title">{{film.title}}</h3>
				<p class="card__paragraph"> {{film.paragraph}} </p>
				<p class="card__year">{{film.year}}</p>
				<p class="card__theme">{{film.theme}}</p>
				<a href="{{film.url}}" class="btn__card">See more</a>
			</div>
  	</article>
		 {% endfor %}
	</section>
{% endblock %}
