{% extends "_/layouts/base" %}

{% block head %}
	{{ craft.vite.script("src/js/carouselFilm.js" ) }}
	{{ craft.vite.script("src/js/countdown.js" ) }}
{% endblock %}

{% block content %}
	<section class="header__home">
		<h1 class="hidden">Welcome to Korkijk Film Festival</h1>
		<div class="header__left">
			<a href="/{{('participation') }}" class="btn__left"><span class="underline">Join</span> &amp;</a>
			<h2 class="hidden">Visualise your voice</h2>
			<img class="img__left--title" src="{{ siteUrl }}public/1-title.svg" width="648.2" height="176" alt="Visualise your voice">{#  do it differently? #}
			<div class="line"></div>
			<h3 class="header__subtitle">workshops and filmmaking<br>by<span class="subtitle--span orange">Kortkijk Film Festival</span></h3>
			<div class="header__btn">
				<a href="#join" id="join" class="btn btn--white">Can I join?</a>
			</div>
		</div>
		<div class="header__right">
			{% set asset = entry.headerImage.one() %}
			{% if asset %}
			<img class="right__img--header" src="{{ asset.getUrl({width:712, height:518 })}}" alt="{{entry.imageDescription}}"> 
			{% endif %}
			<h3 class="right__theme">{{entry.theme}}<br><span class="theme--size">topic this year<span></h3>
			<div class="right__date">
				<p>Festival date</p>
				<p>{{entry.festivalDate}}</p> {#  adjust 2 separate - br #}
			</div>
			{#  redactor line breaks #}
		</div>
	</section>

	<section class="container__countdown">
		<h2 class="hidden">Festival Countdown</h2>
		<div class="countdown__info">
		<p class="countdown__title">Can't wait to see the films?</p>
		<p class="countdown__status">Not long to go, only...</p>
		</div>
		{% include "_/components/countdown.twig" %}
	</section>


			{# Adjust the extraTitle: take it out and make it static later #}
	<section id="btn__join" class="container__requirements">
				{% for block in entry.informationBlock %}
					{% switch block.type %}
						{% case 'image' %}
							{% set asset = block.image.one() %}
							{% if asset %}
							<img class="requirements__img" src="{{ asset.getUrl()}}" alt="{{block.description}}">
							{% endif %}
							<div class="requirements__info">
								{% case 'extraTitle' %}
									<h2 class="info__title">{{ block.extraTitle}}</h2>
									<h3 class="info__subtitle">{{ block.subtitle }}</h3>
									<div class="info__details">
										{% case 'infoText' %}
											<h3 class="detail__subtitle">{{ block.subtitle }}</h3>
											<h2 class="detail__title">{{ block.infotitle }}</h2>
											<p class="detail__paragraph">{{ block.paragraph }}</p>
											<a href="/{{('participation') }}" class="btn">{{ block.buttonText}}</a>
										</div>
									</div>
								{% endswitch %}
							{% endfor %}
	</section>

						<section class="container__festival">
							<h2>Is filmmaking not your thing?</h2>
							<p>Come and see a film at the festival</p>
							<h3>Kortkikj film festival</h3>
							<a href="/{{('festival-details')}}" class="btn white">Festival? Tell me more &amp;</a>
							{# static image here after creating public folder  #}
							{# popcorn banner #}
						</section>

						<section class="container__archive">
							<h2>Travel to the past of Kortkijk</h2>
							<p>Take a little peak at some of the previous films</p>
							{# {% include "_/components/film-card.twig" with { limit: 3, imageWidth: 226, imageHeight: 151 } %} #}
							{% include "_/components/slider.twig" with { limit: 9, imageWidth: 452, imageHeight: 302 } %}

						</section>

						<section class="container__hotspot">
							<h2>A hotspot on some of the previous themes</h2>
							{% for block in entry.hotspotBlock %}
								{% switch block.type %}
									{% case 'image' %}
										{% set asset = block.image.one() %}
										{% if asset %}
										<img class="hotspot__img" src="{{ asset.getUrl({ width: 452, height: 302 }) }}" alt="{{block.description}}">
										{% endif %}
										<div class="hotspot__info">
											{% case 'infotext' %}
												<p class="hotspot__year">{{ block.year }}
													<span class="">theme</span>
												</p>
												<h2 class="hotspot__title">{{ block.infotitle }}</h2>
												<p class="hotspot__paragraph">{{ block.paragraph }}</p>
											</div>
										{% endswitch %}
								{% endfor %}
							</section>

							<section class="container__cta--home">
								<h2>Interested in
									<span class="orange">making a film?<span></h2>
										<p>Have a look at the participation details</p>
										<div>
											<h3>
												Casting call
											</h3>
											<p>
												Age group:16 - 25</p>
											<a href="/{{('participation') }}" class="btn">I want to make a film&#33;</a>
											<a href="/{{('festival-details') }}" class="btn white">just show me the festival details</a>
										</div>
									</section>

								{% endblock %}
