{% extends "_/layouts/base" %}

{% block head %}
	{{ craft.vite.script("src/js/carouselFilm.js" ) }}
	{{ craft.vite.script("src/js/countdown.js" ) }}
{% endblock %}

{% block content %}
	<section class="header__home">
		<h1 class="hidden">Welcome to Korkijk Film Festival</h1>
		<div class="header__left">
			<a href="/{{('participation') }}" class="btn__left">
				<span class="underline">Join</span>
				&amp;</a>
			<h2 class="hidden">Visualise your voice</h2>
			<img
			class="img__left--title" src="{{ siteUrl }}public/1-title.svg" width="648.2" height="176" alt="Visualise your voice">
			{#  do it differently? #}
			<div class="line"></div>
			<h3 class="header__subtitle">workshops and filmmaking<br>by
				<span class="subtitle--font orange">Kortkijk Film Festival</span>
			</h3>
			<div class="header__btn">
				<a href="#join" class="btn btn--join">Can I join?</a>
			</div>
		</div>
		<div class="header__right">
			{% set asset = entry.headerImage.one() %}
			{% if asset %}
				<img class="right__img--header" src="{{ asset.getUrl({width:712, height:518 })}}" alt="{{entry.imageDescription}}">
			{% endif %}
			<h3 class="right__theme">{{entry.theme}}<br><span class="theme--size">topic this year<span></h3>
					<div class="right__date">
						<p>Festival date</p>
						<p>{{entry.date}}</p>
						<p class="inline">{{entry.festivalDate}}</p>
					</div>
				</div>
			</section>

			{# 	<div class="bg__wrapper--home"> #}
			<div class="arrow__wrapper">
				<div class="wrapper__non-bleed">
					<section class="container__countdown">
						<div class="countdown__wrapper">
							<h2 class="hidden">Festival Countdown</h2>
							<div class="countdown__info">
								<p class="countdown__title">Can't wait to see the films?</p>
								<p class="countdown__status">Not long to go, only...</p>
							</div>
							{% include "_/components/countdown.twig" %}
						</div>
					</section>

					{# Adjust the extraTitle: take it out and make it static later #}

					<section id="join" class="container__requirements">
						{% for block in entry.informationBlock %}
							{% switch block.type %}
								{% case 'image' %}
									{% set asset = block.image.one() %}
									{% if asset %}
										<img class="requirements__img" src="{{ asset.getUrl({width:680, height:672 })}}" alt="{{block.description}}">
									{% endif %}
									<div class="requirements__info">
										{% case 'extraTitle' %}
											<div class="info__title--wrapper">
												<h2 class="info__title">Are you between<br>the ages of
													<span class="orange semibold">16-25?</span>
												</h2>
												<h3 class="info__subtitle">Then perhaps you're the person we're looking for!</h3>
											</div>
											<div class="info__details--home">
												{% case 'infoText' %}
													<h3 class="detail__subtitle--home">{{ block.subtitle }}</h3>
													<div class="line line--dark"></div>
													<h2 class="detail__title--home">{{ block.infotitle }}</h2>
													<p class="detail__paragraph--home">Well, we want to involve the youngsters of Kortrijk in this process. This is done by improving the city’s culture based on the values and needs that they voice in their short films. With those, we hold a fun festival to inspire others! You can get your opinions, values and ideas out there and
														<span class="orange bold">make an impact!</span>
													</p>
													<a href="/{{('participation') }}" class="btn btn--home">{{ block.buttonText}}</a>
												</div>
											</div>


										{% endswitch %}

									{% endfor %}

								</section>

								<section class="container__festival">
									<div class="festival__wrap">
										<div class="wrap__title">
											<h2 class="festival__title--home">Is filmmaking not your thing?</h2>
											<p class="festival__subtitle--home">Come and see a film at the festival</p>
										</div>
										<img class="img__ticket" src="/public/1-ticket.svg" width="742" height="357" alt="Fake ticket with information">
										<div class="festival__cta--home">
											<h3>
												<span class="orange">Kort</span>
												<span class="purple">kijk</span><br>film festival</h3>
											<a href="/{{('festival-details')}}" class="btn__l--white">Festival? Tell me more</a>
										</div>
										<h3 class="hidden">We know you like free stuff and so do we</h3>
										{# if image does not show, then display text  #}
										<p class="hidden">That's why we provide you with free popcorn and films. No need for tickets, we only ask you to have good time.</p>
									</div>
									{# popcorn banner #}
								</section>
								{# </div> #}
							</div>
							<div class="banner-popcorn">
								<div class="banner-popcorn-text">
									<span>
										<p>Free Popcorn</p>
									</span>
									<span>
										<p class="outline--text">Free popcorn</p>
									</span>
									<span>
										<p>Free popcorn</p>
									</span>
									<span>
										<p class="outline--text">Free popcorn</p>

									</span>
									<span>
										<p>Free popcorn</p>
									</span>
									<span>
										<p class="outline--text">Free popcorn</p>

									</span>
									<span>
										<p>Free popcorn</p>
									</span>
									<span>
										<p class="outline--text">Free popcorn</p>

									</span>
									<span>
										<p>Free popcorn</p>
									</span>
								</div>
							</div>

						</div>
						<section class="container__archive">
							<div class="archive__intro">
								<div class="intro__title--wrapper">
									<h2>Travel to the past of Kortkijk</h2>
								</div>
							</div>
							<p class="archive__subtitle">Take a little peak at some of the previous films</p>
							<a href="/{{('film-archive') }}" class="btn btn__l--white">See more films</a>
							{# {% include "_/components/film-card.twig" with { limit: 3, imageWidth: 226, imageHeight: 151 } %} #}
							{% include "_/components/slider.twig" with { limit: 9, imageWidth: 452, imageHeight: 302 } %}
						</section>

						<section class="container__hotspot">
							<div class="hotspot__intro">
								<div class="hotspot__title--wrapper">
									<h2>A hotspot on some of the previous themes</h2>
								</div>
							</div>
							<div class="hotspot__wrapper">
								<img class="hotspot__img" src="public/1-film-images.svg">
								<div class="hotspot__info">
									<div class="info--text">
										<p>
											<span class="hotspot__year">2021</span>
											<span class="hotspot__theme">theme</span>
										</p>
										<h2 class="hotspot__title">Kortkijk x mental health</h2>
										<p class="hotspot__paragraph">Mental health is a seriouss issue. In Belgium alone, there are a lot of suicide deaths every year, because people are depressed. Kortrijk would like to raise awareness for this problem. That is why the theme of that Kortkijk film festival edition was mental health.</p>
										<p class="hotspot__paragraph--two">By giving the youngsters the voice to speak out their thoughts about this subject, we can raise awareness for the people that are struggling. And we hope that because of this, people will become closer and help each other when they are struggling.
										</p>
									</div>
									<div class="hotspot__buttons">
										<button class="hotspot__prev">&#8592;</button>
										<ul id="h--dots">
											<li class="h--dot"></li>
											<li class="h--dot"></li>
											<li class="h--dot"></li>
										</ul>
										<button class="hotspot__next">&#8594;</button>
									</div>
								</div>
							</div>
							<article class="hotspot__film">
								<h2 class="hidden">Images from prevous years</h2>
								<img class="img__film" src="{{ siteUrl }}public/1-film-images.svg" width="2043" height="358" alt="images from past themes">
							</article>
						</section>

						<section class="container__cta--home">
							<div class="cta__text--wrapper">
								<h2>Interested in
									<span class="orange">making a film?<span></h2>
										<p class="home__cta--sub">Have a look at the participation details</p>
									</div>
									<div class="cta__casting">
										<div class="casting__wrapper">
											<img class="img__left--title" src="{{ siteUrl }}public/1-casting.png" width="455" height="222" alt="Person filming">
											<h3>Casting call</h3>
											<p>Age group:16 - 25</p>
											<a href="/{{('participation')}}" class="btn__casting">I want to make a film</a>
											<a href="/{{('festival-details') }}" class="btn__casting--details">just show me the festival details</a>
										</div>

									</div>
								</section>

							{% endblock %}
