{% extends "_/layouts/base" %}

{% block content %}
	<header class="header__workshops">
		<div class="header__text">
			<h1>Film<br>workshops<br>this
				{{entry.season}}</h1>
			<p class="festival-date">{{entry.festivalDate}}</p>
			<div class="arrow">
				<a href="#how" class="btn--participation">Tell me more!</a>
				<a href="/{{('apply')}}" class="btn--apply">Apply now</a>
			</div>
		</div>

		{{entry.applicationState}}

		<img src="/public/header-participate.png" alt="man with film taker">
	</header>

	<div class="how__container--bleed">
		<div class="how__container">

			<section id="how" class="container__how">
				<h2>How does it work?</h2>
				<div class="how-cards__container">
					<div>
						<h3>Cultural theme</h3>
						<p>Every year, we have a brand new theme to keep things fresh and exciting, and this year it is the
							<span class="purple bold">{{entry.theme}}.</span>
						</p>
					</div>
					<div>
						<h3>Teamwork</h3>
						<p>To make the experience more personal and engaging, we keep the team size limited to just
							<span class="purple bold">4-5 people</span>
						</p>
					</div>
					<div>
						<h3>Workshops</h3>
						<p>We organise workshops that will upgrade your skills from
							<span class="purple bold">noob to pro</span>
							filmmaker in no time. Learn scriptmaking, cinematography and more...</p>
					</div>
					<div>
						<h3>Film Festival</h3>
						<p>At the end of each semester, we will
							<span class="purple bold">celebrate</span>
							your effort by throwing a film festival in the centre of Kortrijk</p>
						<a href="/{{('festival-details')}}" class="btn--festival">Festival? I'm interested</a>
					</div>
				</div>
			</section>

			<div class="picture-banner--bleed">
				<img class="picture-banner" src="/public/picture-banner.png" alt="images + banner">


				<div class="banner-how">
					<div class="banner-how-text">
						<span>
							<p>Visualise your voice</p>
						</span>
						<span>
							<p>Visualise your voice</p>
						</span>
						<span>
							<p>Visualise your voice</p>
						</span>
						<span>
							<p>Visualise your voice</p>
						</span>
						<span>
							<p>Visualise your voice</p>
						</span>
						<span>
							<p>Visualise your voice</p>
						</span>
						<span>
							<p>Visualise your voice</p>
						</span>
						<span>
							<p>Visualise your voice</p>
						</span>
						<span>
							<p>Visualise your voice</p>
						</span>
					</div>
				</div>

			</div>

			<section id="requirements" class="container__participate">
				<div>
					<h3 class="year-season__text">{{entry.year}}&#124;{{entry.season}}<h3>
							<h2>Can I participate?</h2>
							<p>If you're between the<span class="bold">
									age of 16-25
								</span>
								and like to work in a group, then yes&#33; Every semester 30 people get chosen to participate in the workshops making films for the festival. Simply sign up in the form below and you will be notified about acceptance within 21 days</p>
							<a href="/{{('apply')}}" class="btn">I want to participate</a>
						</div>
						<img src="/public/can-i-image.png" alt="group picture happy people">
					</section>
				</div>
			</div>

			<section class="container__theme theme--bleed">
				<div class="container__theme--wrapper">
					<div>
						<h3>This years theme</h3>
						<h1>{{entry.titleTheme}}</h1>
					</div>
					<div class="theme__card">
						<h2>{{entry.paragraph}}</h2>
						<p>{{entry.subtitle}}</p>
					</div>
				</div>
				<div class="banner-theme">
					<div class="banner-theme-text">
						<span>
							<p>The future of Kortrijk</p>
						</span>
						<span>
							<p>The future of Kortrijk</p>
						</span>
						<span>
							<p>The future of Kortrijk</p>
						</span>
						<span>
							<p>The future of Kortrijk</p>
						</span>
						<span>
							<p>The future of Kortrijk</p>
						</span>
						<span>
							<p>The future of Kortrijk</p>
						</span>
						<span>
							<p>The future of Kortrijk</p>
						</span>
						<span>
							<p>The future of Kortrijk</p>
						</span>
						<span>
							<p>The future of Kortrijk</p>
						</span>
					</div>
				</div>
			</section>

			<div class="orange-arrow__wrapper">

				<section class="container__workshops ">

					<h1>Workshops</h1>
					<div class="workshops--info">
						<img src="/public/workshops.png" alt="workshop people">
						<div class="workshops--card">
							<h3>Join us in film workshops</h3>
							<h2>{{entry.workshopDays}}<br><span>{{entry.workshopTime}}</span>
							</h2>
							<p>After the workshops there will be an open house with mentors available to assist you further. This is the perfect opportunity for you and your teammates to work on your film, socialise and have an access to our equipment.</p>

							<a href="/{{('apply')}}" class="btn btn--workshop">I want to apply</a>
							<div class="when-bubble">
								<h4>When?</h3>
								<p>{{entry.workshopDate}}</p>
							</div>
							<div class="where-bubble">
								<h4>Where?</h3>
								<p>{{entry.workshopWhere}}</p>
							</div>
						</div>
					</div>
				</section>

				<section class="container__questions">
					<h2>Commonly<br><span class="orange">asked</span>
						<span class="purple">questions</span>
					</h2>
					<p>You can always send us an email if you have a question,<br>but perhaps you can find your answer here</p>
					<div class="questions__container">
						<p>Can I work in a group with my friends?</p>
						<p>Am I required to attend the workshops?</p>
						<p>Do I need to have previous experiences in filmmaking?</p>
						<p>What if I don't have a camera?</p>
						<p>Do I have to pay for anything?</p>
					</div>
				</section>
			</div>

			<section class="container__cta--participation">
				<div class="cta-form-title">
					<h2>Apply for<br><span class="orange">your spot</span>
						now&#33;</h2>
					<img src="/public/happy-eye.svg" alt="eye illustration" width="200px">
					<img class="cta-purple-line" src="/public/cta-purple-line.svg" alt="purple line illustration" width="600px">
				</div>
				<div class="cta--card">
					<p>Fill in the form now and get your acceptance notification within 21 days</p>
					<a href="/{{('apply')}}" class="btn btn--form">Bring me to the form</a>
				</div>
			</section>

		{% endblock %}
