<div class="sorter-filter__wrapper">
	<div class="sort__container">
		<label for="sortFilms">Sort by title:</label>
		<button id="sortAscButton">A-Z</button>
		<button id="sortDescButton">Z-A</button>
	</div>


	<div class="filter__container">
		<label for="themeFilter">Filter by Theme:</label>
		<select class="themeFilter" id="themeFilter">
			<option value="">All edition themes</option>
			{% set themes = [] %}
			{% for film in craft.entries.section('films').limit(limit).all() %}
				{% set theme = film.theme %}
				{% set year = film.year %}
				{% if theme and theme ~ '-' ~ year not in themes %}
					{% set themes = themes|merge([theme ~ '-' ~ year]) %}
					<option value="{{ theme }}">{{ theme }}
						-
						{{ year }}</option>
				{% endif %}
			{% endfor %}
		</select>
	</div>
</div>

<section class="theme__description__container">
	<h2 class="theme__title"></h2>
	<p class="theme__year"></p>
	<p class="theme__description"></p>
</section>


<section class="archive__themes__section hidden">
	{% for archiveTheme in craft.entries.section('archiveThemes').all() %}
		<div class="archive__theme">
			<div class="archive__theme__info">
				<h2 class="archive__theme__title">{{ archiveTheme.title }}</h2>
				<p class="archive__theme__year">{{ archiveTheme.year }}</p>
				<p class="archive__theme__description">{{ archiveTheme.paragraph }}</p>
			</div>
		</div>
	{% endfor %}
</section>


<article class="archive__cards__container">
	{% for film in craft.entries.section('films').limit(limit).all() %}
		<article class="archive__card">
			{% for photo in film.image.all() %}
				{% set width = imageWidth ?? 452 %}
				{% set height = imageHeight ?? 302 %}
				<img class="card__image" src="{{ photo.getUrl({ width: width, height: width }) }}" alt="{{ film.title }}"/>
			{% endfor %}
			<div class="detail__card">
				<div class="detail__card__grid">
					<div>
						<p class="card__year">{{ film.year }}</p>
						<p class="card__theme">{{ film.theme }}</p>
					</div>
					<div class="detail__card__line">
						<h3 class="card__title">{{ film.title }}</h3>
						<p class="card__description">{{ film.description }}</p>
					</div>
				</div>
				<div class="btn__card__container">
					<a href="{{ film.url }}" class="btn__card">Read more</a>
				</div>
			</div>
		</article>
	{% endfor %}
</article>
