		 {% block content %}
     
    {#  {% for film in craft.entries.section('films').limit(limit).all()%} #}

		<article class="archive__card">
      {% for photo in film.image.all() %}
        {% set width = imageWidth ?? 452 %}
        {% set height = imageHeight ?? 302 %}
				<img class="card__image" src="{{ photo.getUrl({ width: width, height: width })}}" alt="{{ film.title }}"/>
			{% endfor %}
			<div>
				<h3 class="card__title">{{film.title}}</h3>
				<p class="card__paragraph"> {{film.paragraph}} </p>
				<p class="card__year">{{film.year}}</p>
				<p class="card__theme">{{film.theme}}</p>
				<a href="/films/{{film.slug}}" class="btn__card">See more</a>
			</div>
  	</article>
		 

    {% endblock %}