{% extends "_/layouts/base" %}


{% block content %}
<section class="container__detailpage">
	<article class="detailpage__main">
	<a href="{{ craft.app.request.getReferrer() }}" class="back-button">Back</a>
	<div class="detailpage__info">
		<h1>detailpage Film Archive</h1>
		{% set asset = entry.image.one() %}
		{% if asset %}
			<img class="card__image" src="{{ asset.getUrl() }}" alt="{{ entry.title }}"/>
		{% endif %}
		<h2>{{entry.title}}</h2>
		<div> 
			<p>{{entry.theme}} 	&#124; {{entry.year}}</p>
			<p>Runtime: {{entry.runtime}}</p>
		<div>
		<p>{{entry.paragraph}}</p>
	</div>
	</article>

	<div class="detailpage__crew">
	<h3>Cast &#38; crew</h3>
		<div class="crew__container">
		{% for block in entry.crewBlock %}
			{% switch block.type %}
						{% case 'crew' %} 
    	<p class="crew">{{ block.roleCrew }}</p>
			{% endswitch %}
		{% endfor %}
		</div>
	</div>

	<div class="detailpage__images">
		<h3>Take a peak in the behind the scenes</h3>
		<div class="line"></div>
		<div class="crew__container">
		{% for block in entry.imageBlock %}
			{% switch block.type %}
				{% case 'images' %} 
				{% set asset = block.img.one() %}
				{% if asset %}
				<div class="crew__img--container">
					<img class="crew__img" src="{{ asset.getUrl({width: 304, height:239})}}" alt="{{block.imgDescription}}">
					<p class="hidden">{{block.imgParagraph}}</p>
				</div>
				{% endif %}
			{% endswitch %}
		{% endfor %}
		</div>
	</div>
</section>

{% endblock %}
